/*
    Archivo de estilos propios.
*/

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;1,800&display=swap'); */

* {
    font-family: 'Nunito', sans-serif;
    border: .5px dashed tomato;
}

#logo {
    margin-left: 10%;
    margin-right: 50%;
}

.container-fluid > .row {
    height: 90vh;
    margin: 5% 10%;
    background-color: tomato;
}


#rowFoto {
    height: 30%;
}

#rowFoto > img{
    
}

#rowDatosBasicos {
    height: 60%;
    background-color: aquamarine;
}